@media screen and (min-width: 768px){

    body {
        font-family: "Helvetica";
    }

    h2 {
        font-weight: lighter;
    }

    h3 {
        font-weight: lighter;
    }

    .grid-container {
        display: grid;
        grid-template-areas: 'header header header header header header' 'menu main main main main main';
        padding: 10px;
    }

    .header {
        background-color: lightgrey;
        text-align: center;
        grid-area: header;
    }

    .menu {
        grid-area: menu;
    }

    .menu > * {
        margin-left: 30%;
    }

    .main {
        grid-area: main;
    }

    .main-container {
        position: absolute;
        border-left: black dotted 2px;
    }

    .article {
        border: dotted lightgrey 1px;
        display: inline-grid;
        box-sizing: border-box;
        margin: 15px 30px 15px 30px;
        grid-row: auto;
        padding: 0 15px 15px 15px;
    }

    li {
        margin: 25px 0;
    }

    a {
        color: black;
    }

    a:link {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .articleImage {
        float: left;
        margin-right: 15px;
    }

    input {
        border: solid black 2px;
        height: 20px;
        margin-bottom: 3px;
    }

    input[type = "email"] {
        width: 72.5%;
    }

    input[type = "submit"] {
        width: 75%;
    }

    label {
        font-size: smaller;
        font-weight: lighter;
    }

    .mobile-form {
        display: none;
    }
}

@media screen and (max-width: 768px){
    body {
        font-family: "Helvetica";
    }

    h2 {
        font-weight: lighter;
    }

    h3 {
        font-weight: lighter;
    }

    .grid-container {
        display: grid;
        grid-template-areas:
                'header header'
                'menu form'
                'content content';
        padding: 10px;
    }

    .header {
        background-color: lightgrey;
        text-align: center;
        grid-area: header;
    }

    .menu {
        grid-area: menu;
    }

    .menu > * {
        margin-left: 30%;
    }

    .main {
        grid-area: content;
        border-top: dotted 2px black;
    }

    .main-container {
        position: absolute;
    }

    .article {
        border: dotted lightgrey 1px;
        display: inline-grid;
        box-sizing: border-box;
        margin: 15px 30px 15px 15px;
        grid-row: auto;
        padding: 0 15px 15px 15px;
    }

    li {
        margin: 25px 0;
    }

    a {
        color: black;
    }

    a:link {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .articleImage {
        float: left;
        margin-right: 15px;
    }

    form {
        grid-area: form;
    }

    input {
        border: solid black 2px;
        height: 20px;
        margin-bottom: 3px;
    }

    input[type = "email"] {
        width: 72.5%;
    }

    input[type = "submit"] {
        width: 75%;
    }

    label {
        font-size: smaller;
        font-weight: lighter;
    }

    .desktop-form {
        display: none;
    }

    .mobile-form {
        margin-left: 30%;
    }
    
}